[Desktop Entry]
Version=1.0
Type=Application
Name=Install System
Name[zh_CN]=安装系统
Exec=aosc-installer-qt
Icon=gdeb
Terminal=false
Categories=System;
StartupNotify=true